<!-- Template for IoT foundation information -->

<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">LED Board</h3>
		</div>
		<div class="panel-body">
			<div>
				<h5>Light Status</h5>
				<svg height="60" width="200">
					<g>	
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[0].status}}" cx="10" cy="10"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[1].status}}" cx="30" cy="10"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[2].status}}" cx="50" cy="10"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[3].status}}" cx="70" cy="10"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[4].status}}" cx="90" cy="10"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[5].status}}" cx="10" cy="40"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[6].status}}" cx="30" cy="40"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[7].status}}" cx="50" cy="40"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[8].status}}" cx="70" cy="40"/>
						<circle r="5" stroke="black" stroke-width="1" fill="{{leds[9].status}}" cx="90" cy="40"/>
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>
