<!-- Template for a site on the page -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">IoT board for {{site.sid}}</h3>
	</div>
	<div class="panel-body">
		<h5>Room Registration Status</h5>
		<svg id="regButton" height="100" width="200">
			<g id="reg:{{site.sid}}">	
				<circle r="45" stroke="black" stroke-width="2" fill="{{site.reg.colour}}" cx="50" cy="50"/>
				<text x="50" y="50" stroke="black" stroke-width="2"  text-anchor="middle">R</text>
			</g>
			<g id="player:{{site.sid}}">
				<circle r="45" stroke="black" stroke-width=2" fill="{{site.player.colour}}" cx="150" cy="50"/>
				<text x="150" y="50" stroke="black" stroke-width="2"  text-anchor="middle">P</text>
			</g>
		</svg>
	</div>
</div>
