<!doctype html>
<html lang="en" ng-app="iotBoardApp">
  <head>
    <meta charset="utf-8">
    <title>Game On! IoT Board</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div>
      <h4>Register device</h4>
    </div>
  <div ng-controller="defaultCtrl">
    <div class="one-half column">
      <label for="username">Game On! Id</label>
      <input class="u-full-width" type="text" name="gid" id="gid" ng-model="gid" placeholder="Enter your Game On! id e.g. github:1234567" />
      <a class="button u-full-width" data-ng-click="registerDevice()">Register</a>
    </div>
  </div>
  <div ng-controller="sitesCtrl">
  	<h4 ng-repeat="site in sites">{{site._id}}</h4>
  	<site ng-repeat="site in sites" />
  </div>
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/default.js"></script>
  <script src="scripts/directives/site.js"></script>
  </body>
</html>
